# Archivos compilados (Binarios)
[Bb]in/
[Oo]bj/

# Configuración de Usuario de Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# Archivos de entorno y secretos
appsettings.Development.json

# Bases de datos locales
*.db
*.sqlite
*.mdf
*.ldf

# Logs
*.log